* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header h1 {
  margin: 0;
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 5px 10px #ccc;
}

.parametros {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parametros > label {
  margin: 0 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-container p {
  margin-left: 10px;
}

.slider {
  width: 100%;
  margin: 10px;
  margin-bottom: 10px;
}

.btnAdcRm {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnAdcRm:hover,
.btnAdcRm:focus {
  outline: 1px solid gray;
  outline-offset: 2px;
  color: gray;
}


/* Esconder o checkbox padrão */
input[type="checkbox"] {
  display: none;
}

/* Estilizar a aparência do checkbox personalizado */
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilizar o marcador do checkbox */
.custom-checkbox::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 4px;
  background-color: #333;
  border-radius: 2px;
  visibility: hidden;
}

/* Mostrar o marcador do checkbox quando o checkbox estiver marcado */
input[type="checkbox"]:checked + .custom-checkbox::after {
  visibility: visible;
}

/* Estilizar o rótulo do checkbox */
.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

/* Estilizar o hover do checkbox */
.custom-checkbox:hover {
  border-color: #999;
}

#senha {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#senha button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  right: 10px;
}

#senha button:hover {
  background-color: #0056b3;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.botao:hover,
.botao:focus {
  outline: 3px solid #007bff;
  outline-offset: 1px;
}

#mensagem {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid red;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 80vw;
  max-width: 400px;
}

#mensagem-texto {
  text-align: center;
  margin-bottom: 10px;
}

#fechar-mensagem {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

#fechar-mensagem:hover {
  background-color: darkred;
}

#senhaGerada {
  width: 250px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

a#autor {
  color: white;
  text-decoration: none;
}

/* Estilos para o texto no footer */
footer p {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  body {
    align-items: flex-start;
  }

  .form-container {
    width: 100%;
    max-width: none;
  }

  /* Outros estilos para se adaptar à tela do smartphone */
}